<body style="
    cursor: auto;
    background-image: linear-gradient(45deg, #87314f, #54cfdc2e);
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 120px;
">
    
    <form action="http://localhost:8081/sucess" method="post">
    <fieldset style="
    margin: 0;
    display: inline-grid;
    width: min-content;
    background-image: linear-gradient(45deg, #954949, transparent);
    background: beige;
    text-align: center;
    transition: auto;
    cursor: auto;
    width: 350px;
">
        <legend style="
    border: double;
    display: flex;
    background: beige;
    font-style: normal;
    font: message-box;
">CADASTRO MALUCO</legend>
        <p>NOME: <input type="text" name="nome" style="
    margin: 0;
    width: 200px;
"> </p>
        <p>IDADE: <input type="number" name="idade" style="
    width: 200px;
    margin: 0;
"></p>
        <p>E-MAIL: <input type="email" name="email" style="
    width: 195px;
    margin: 0;
"></p>
        <p>CHAVE: <input type="number" placeholder="1 + 2 = " name="telefone" style="
    margin: 0;
    width: 172px;
"></p>
        <p>CARGO: <input type="tel" name="cargo" style="
    margin: 0;
    width: 199px;
"></p>
        <p>SALARIO: <input type="number" name="salario" style="
    margin: 0;
    width: 190px;
"></p>
        <p><button type="submit" name="enviar" style="
    -webkit-text-stroke-width: medium;
    border-width: thick;
    display: initial;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    cursor: pointer;
">CADASTRAR</button></p>
    </fieldset>
</form>



</body>